<h2>新規登録</h2>
<%= form_tag('/users/create', method: :post) do %>
  <% if @user.errors.full_messages.count != 0 %>
    <div class="alert alert-danger" role="alert">
      <% @user.errors.full_messages.each do |message| %>
        <p><%=message%></p>
      <% end %>
    </div>
  <% end %>
  <p>user_name</p>
  <input name="name" value="<%=@user.name%>">
  <p>email</p>
  <input name="email" value="<%=@user.email%>">
  <p>password</p>
  <input type="password" name="password" value="<%=@user.password%>">
  <p></p>
  <input type="submit">
<% end %>
