<h2>釣果投稿詳細</h2>
<div class='col-lg-3'>
  <div class='card div-link'>
    <img src=<%=@post.image_url%>>
    <p><%=@post.fish_id%></p>
    <p><%=@post.datetime%></p>
    <p><%=@post.place%></p>
    <p><%=@post.weight_gram%></p>
    <p><%=@post.place%></p>
    <p><%=@post.image_name%></p>
    <p><%=@post.method%></p>
    <p><%=@post.user_id%></p>
  </div>
</div>
