
<h2>釣果投稿一覧</h2>
<div class="index-content">
  <%post_count=0%>
  <%@posts.each do |post|%>
    <%if post_count % 4 == 0%>
      <div class="row">
    <%end%>
    <div class="col-lg-3">
      <div class="card div-link">
        <img src=<%=post.image_url%>>
        <p><%=post.fish_name%></p>
        <p><%=post.datetime%></p>
        <p><%=post.place%></p>
        <p><%=post.weight_gram%></p>
        <p><%=post.place%></p>
        <p><%=post.image_name%></p>
        <p><%=post.method%></p>
        <p><%=post.user_id%></p>
        <%= link_to '', "/posts/#{post.id}", { :class => 'link' , :method => :get} %>
      </div>
    </div>
    <% if post_count % 4 == 3 %>
      </div>
    <%end%>
    <%post_count+=1%>
  <%end%>
  <% if post_count % 4 == 0 %>
    </div>
  <%end%>
</div>
