<h2>新規投稿</h2>
<%= form_tag('/posts/create', method: :post) do %>
  <% if @post.errors.full_messages.count != 0 %>
    <div class="alert alert-danger" role="alert">
      <% @post.errors.full_messages.each do |message| %>
        <p><%=message%></p>
      <% end %>
    </div>
  <% end %>
  <script type="text/javascript">
     $(function () {
         $('#datetimepicker2').datetimepicker({
             locale: 'ja'
         });
     });
  </script>
  <div class='input-group date' id='datetimepicker2'>
    <span class="input-group-addon">釣果日時</span>
    <input name="datetime" type="text" class="form-control" value="<%=@post.datetime%>">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>

  <div class="input-group">
    <span class="input-group-addon">魚種</span>
    <input name="fish_id" class="form-control" value="<%=@post.fish_id%>">
  </div>

  <div class="input-group">
    <span class="input-group-addon">サイズ[mm]</span>
    <input name="size_millimeter" class="form-control" value="<%=@post.size_millimeter%>">
  </div>

  <div class="input-group">
    <span class="input-group-addon">重量[g]</span>
    <input name="weight_gram" class="form-control" value="<%=@post.weight_gram%>">
  </div>

  <div class="input-group">
    <span class="input-group-addon">場所</span>
    <input name="place" class="form-control" value="<%=@post.place%>">
  </div>

  <div class="input-group">
    <span class="input-group-addon">画像</span>
    <input name="image_name" class="form-control" value="<%=@post.image_name%>">
  </div>

  <div class="input-group">
    <span class="input-group-addon">メソッド</span>
    <input name="method" class="form-control" value="<%=@post.method%>">
  </div>
  <br>
  <input class="btn btn-default " type="submit" value="投稿">

<% end %>
